{% extends "base.html" %}

{% block title %}EmpreGO! - Candidatar {% endblock %}

{% block content %}

    <div class="d-flex justify-content-start mt-1">
        <a href="/sobre_vaga/{{ id_vaga }}" class="btn btn-dark">Voltar</a>
    </div>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            {% if msg_erro %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-danger" role="alert">
                    {{ msg_erro }}
                </div>
            {% endif %}
            <form action="/candidatar/{{id_vaga}}" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>

                <h2 class="d-flex justify-content-center">Informações do Candidato</h2>
                <hr>
                <div class="mb-2">
                    <label for="nome" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control" name="nome" maxlength="100" required> <br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                      </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo Ex: Meu nome sobrenome
                    </div>
                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">E-mail </label>
                    <input type="text" class="form-control" name="email" maxlength="100"  required> <br><br>
                    <div class="valid-feedback">
                        Parece bom! Parabéns
                    </div>
                    <div class="invalid-feedback">
                        Algo está errado! Preencha o campo Ex: meuemail@email.com
                    </div>
                </div>

                <div class="mb-2">
                    <label for="telefone" class="form-label">Telefone de Contato</label>
                    <input
                      type="text"
                      class="form-control"
                      name="telefone"
                      id="telefone"
                      placeholder="Somente números"
                      required>
                      <div class="valid-feedback">
                        Informação válida!
                      </div>           
                      <div class="invalid-feedback">
                        Informe um telefone válido.
                      </div>
                    </div>

                <div class="mb-2">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>

                <label for="arquivo" class="form-label">Curriculo</label>
                <input type="file"  class="form-control" name="file"  accept=".pdf" required> <br><br>
                
                
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Candidatar-se</button>
                </div>
                
            </form>
            
        </div>
    </div>
</div>

<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()

</script>
<!-- Link do Input Mask --- Pré-validação -->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>  
<!-- Script de configuração do Input Mask -->
 <script>
Inputmask("(99)99999-9999").mask(document.getElementById ("telefone")); //Máscara para Telefone
</script>
{% endblock %}