{% extends "base.html" %}

{% block title %}EmpreGO! - Contato {% endblock %}

{% block content %}

<ul>
    <div class="d-flex justify-content-start mt-1">
      <a href="/" class="btn btn-dark">Voltar</a>
    </div>  
  </ul>

<div class="container">
    <h1>Contato - EmpreGO</h1>
    <p>Estamos aqui para ajudar você com todas as dúvidas sobre nossos serviços de oportunidades de emprego.</p>

    <div class="contact-info">
        <h2>Nossos Canais de Atendimento</h2>
        <p><strong>E-mail:</strong> ligia.costa.senai@gmail.com.br</p>
        <p><strong>Telefone:</strong> +55 (15) 99792-6231</p>
        <p><strong>Horário de atendimento:</strong> Segunda a Sexta, das 9h às 18h</p>
    </div>

    <div class="social-media">
        <h2>Siga-me nas Redes Sociais</h2>
        <a href="https://www.linkedin.com/in/lígia-costa-16080118b" target="_blank">LinkedIn</a> | 
        <a href="https://github.com/Ligia-Costa" target="_blank">GitHub</a> | 
        <a href="https://www.instagram.com/liiih.costa/" target="_blank">Instagram</a>
    </div>

    <div class="address">
        <h2>Localização da Empresa</h2>
        <p>Rua das Oportunidades, 123 - Centro, Itapeva, SP, Brasil</p>
        <p>CEP: 40034-567</p>
    </div>

    <div class="faq">
        <h2>Perguntas Frequentes</h2>
        <p>Antes de enviar sua mensagem, confira nossa seção de <a href="#">Perguntas Frequentes</a> para ver se sua dúvida já foi respondida.</p>
    </div>
</div>
    {% endblock %}