<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../static/img/4.png" height="50px"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <form action="/pesquisar" class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="q" placeholder="Digite uma palavra-chave" aria-label="Search">
            <button class="btn btn-dark sm" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if not session %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% elif 'adm' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/adm">Painel do Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
          {% elif 'id_empresa' in session %}
          <li class="nav-item">
            <a class="nav-link" href="/empresa">Painel da Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>  