{% extends "base.html" %} {% block title %}EmpreGO! - Sobre nós{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <!-- Centraliza horizontalmente -->
    <div class="col-md-6">
      <!-- Ocupa metade da tela em telas médias e maiores -->
      <h1 class="text-center mb-4">Sobre Nós</h1>
      <div>
        <ul>
          <div class="d-flex justify-content-start mt-1">
            <a href="/" class="btn btn-dark">Voltar</a>
          </div>  
        </ul>
        <h2>Quem Somos</h2>
        <p>
          A EmpreGO é uma empresa dedicada a conectar talentos a oportunidades
          no mercado de trabalho. Nosso objetivo é facilitar a busca por vagas e
          oferecer soluções eficientes tanto para candidatos quanto para
          empresas.
        </p>
      </div>
      <div>
        <h2>Missão</h2>
        <p>
          Transformar vidas ao facilitar conexões entre pessoas e oportunidades
          de emprego.
        </p>
      </div>
      <div>
        <h2>Visão</h2>
        <p>
          Ser a principal plataforma de vagas de emprego, reconhecida pela
          inovação e impacto positivo no mercado de trabalho.
        </p>
      </div>
      <div>
        <h2>Valores</h2>
        <ul>
          <li>Transparência</li>
          <li>Inovação</li>
          <li>Inclusão</li>
          <li>Compromisso com resultados</li>
        </ul>
      </div>
      <div>
        <h2>Nossa Equipe</h2>
        <p>
          Contamos com uma equipe apaixonada e comprometida em ajudar nossos
          usuários a alcançar seus objetivos profissionais.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}